[build-system]
requires = [
    "setuptools~=62.0"
]
build-backend = "setuptools.build_meta"

[tool.pytest.ini_options]
addopts = "--doctest-modules --ignore=docs --cov=bcl --cov-report term-missing"

[tool.coverage]
run.omit = ["src/bcl/sodium_ffi.py"]
