"""
Load sodium shared object file from this directory (with filepaths constructed for GH Actions),
and write it to disk in a temporary file location. The sodium binary can then be read from disk
directly and exported when the library is invoked without depending on linkage by the host OS.
"""
import platform
import tempfile
from ctypes import cdll

# Determine OS type
pl = platform.system()

# Read hex-encoded sodium shared object file
sodium_bs = bytes.fromhex('{{{SODIUM_HEX}}}')  # pylint: disable=line-too-long

# Generate a temporary file on disk and write sodium binary to it
LIB_EXT = ".pyd" if pl == "Windows" else ".so"
lib_path = tempfile.NamedTemporaryFile(suffix=LIB_EXT, delete=False).name  # pylint: disable=consider-using-with
sodium_tmp = open(lib_path, "wb")  # pylint: disable=consider-using-with
sodium_tmp.write(sodium_bs)
# Close temp file to avoid multiprocess access error on Windows
sodium_tmp.close()

# Load sodium binary from disk to be used by bcl.py
_sodium = cdll.LoadLibrary(lib_path)
# assert _sodium.sodium_init() == 0
# assert _sodium.sodium_init() == 1
